﻿@using Scheque
@using Scheque.Entidade
@using Scheque.Service
@using Scheque.Uteis
@{
    IConsultaChequeService dados = ViewData["CCS"] != null ?  ViewData["CCS"] as IConsultaChequeService : new ConsulteChequeNull();
    Cheque _cheque = dados.Cheque;
    String _labelGrafic = "";
    string _arrayCheques = "";
    string _arrayAreaColor = "";
    string _arrayLineColor = "";
    if (dados.Emitente != null)
    {
        for (int i = 0; i < dados.Emitente.Contas.Count; i++)
        {
            var array = Util.GerarStringRGB();

            if (i == 0)
            {
                _labelGrafic = "";
                _arrayCheques = "";
                _arrayAreaColor = "";
                _arrayLineColor = "";
            }

            _labelGrafic +=  (dados.Emitente.Contas[i].Conta.Banco.Sigla != null? dados.Emitente.Contas[i].Conta.Banco.Sigla: "Banco:" + dados.Emitente.Contas[i].Conta.Banco.Id) + " CC:" + dados.Emitente.Contas[i].Conta.ContaCorrente ;
            _arrayCheques += dados.Emitente.Contas[i].QADepositar;
            _arrayAreaColor += array[0] ;
            _arrayLineColor += array[1] ;

            if (i == dados.Emitente.Contas.Count - 1)
            {
                _labelGrafic += "";
                _arrayCheques += "";
                _arrayAreaColor += "";
                _arrayLineColor += "";
            }
            else
            {
                _labelGrafic += "|";
                _arrayCheques += "|";
                _arrayAreaColor += "|";
                _arrayLineColor += "|";

            }
        }
    }

}
    <div class="row">
        
            <div class="col-sm-6 col-md-6 col-xs-12">
                <h2>
                    INFORMAÇÕES DO CHEQUE
                    @{
                        if (_cheque != null)
                        {
                            <small>@_cheque.ContaCheque.Banco.Nome  - Ag.: @_cheque.ContaCheque.Agencia - CC: @_cheque.ContaCheque.ContaCorrente - Nº @_cheque.NumeroCheque</small>
                            <small>Emitente: @_cheque.Emitente - @(_cheque.DocEmitente.Length > 14 ? "CNPJ:"  : "CPF:") @_cheque.DocEmitente  </small>
                            <small>Trago por: @_cheque.Lote.NomeCliente Lote: @_cheque.IdLote Data: @_cheque.Lote.DataLote.ToShortDateString()</small>
                            <small>Status:<b class="bg-black">@_cheque.Status</b> Valor: @_cheque.Valor.ToString("C2") </small>
                        }

                    }

                </h2>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <h2>INFORMAÇÕES DA CONTA</h2>
                <div class="row">
                    <div class="col-sm-12">
                        <h4 onclick="exibirLista('@(_cheque != null? _cheque.IdConta:0)', '8')"><span class="label bg-indigo">CHEQUES</span><span class="label label-info">@(dados.DadosConta != null ? dados.DadosConta.Quantidade : 0)</span></h4>
                        <h4 onclick="exibirLista('@(_cheque != null? _cheque.IdConta:0)', '0')"><span class="label bg-green">A DEPOSITAR</span><span class="label bg-light-green">@(dados.DadosConta != null ? dados.DadosConta.Valor.ToString("C2") : "R$ 0,00")</span><span class="label bg-green">Q:</span><span class="label bg-light-green">@(dados.DadosConta != null ? dados.DadosConta.Quantidade : 0)</span></h4>
                        <h4><span class="label bg-brown">DEVOLVIDOS</span><span class="label bg-red">@(dados.DadosConta != null ? dados.DadosConta.VDevolvidos.ToString(("C2")) : "R$ 0,00")</span><span class="label bg-brown">Q:</span><span class="label bg-red">@(dados.DadosConta != null ? dados.DadosConta.QDevolvidos : 0)</span></h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="header">
                                <h5>
                                    HISTÓRICO DO CHEQUE <br />
                                    <small>Toda movimentação do cheque</small>
                                </h5>

                            </div>
                            <div class="body">
                                <div></div>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                        <thead>
                                            <tr>
                                                <th>Data</th>
                                                <th>Status</th>
                                                <th>Motivo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                if (dados.Movimento != null)
                                                {
                                                    foreach (MovimentoCheque movimento in dados.Movimento)
                                                    {
                                                    <td>@movimento.Data.ToShortDateString()</td>
                                                    <td>@movimento.Status</td>
                                                    <td>@(movimento.Motivo != null ? movimento.Motivo.ToString() : "")</td>
                                                }
                                            }

                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 col-md-7 col-xs-12">
                    <h2>INFORMAÇÕES DO EMITENTE</h2>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="header">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h5>
                                                OUTRAS CONTAS CADASTRADAS <br />
                                                <small>Contas pertencentes ao mesmo emitente</small><br />
                                                <small>Total de contas: @(dados.Emitente != null ? dados.Emitente.Contas.Count : 0)</small>
                                            </h5>
                                        </div>
                                        <div class="col-sm-6">
                                            <h5><span class="label bg-indigo">CHEQUES RECEBIDOS</span><span class="label label-info">@(dados.Emitente != null ? dados.Emitente.TotalTransitado.ToString("C2") : "R$ 0,00")</span></h5>
                                            <h5><span class="label bg-green">A DEPOSITAR</span><span class="label bg-light-green">@(dados.Emitente != null ? dados.Emitente.TotalADepositar.ToString("C2") : "R$ 0,00")</span><span class="label bg-green">Q:</span><span class="label bg-light-green">@(dados.Emitente != null ? dados.Emitente.QADepositar : 0)</span></h5>
                                            <h5><span class="label bg-brown">DEVOLVIDOS</span><span class="label bg-red">@(dados.Emitente != null ? dados.Emitente.TotalDevolvido.ToString(("C2")) : "R$ 0,00")</span><span class="label bg-brown">Q:</span><span class="label bg-red">@(dados.Emitente != null ? dados.Emitente.QDevolvido : 0)</span></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="body">
                                    <canvas id="pie_chart" height="auto"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            
    </div>


<!-- Chart Plugins Js -->
<script src="~/plugins/chartjs/Chart.bundle.js"></script>   

<!-- Custom Js -->

<script>
    var array1 = '@(_arrayAreaColor)'.split('|');
    var array2 = '@(_arrayLineColor)'.split('|');
    var dados = '@(_arrayCheques)'.split('|');
    var labels = '@(_labelGrafic)'.split('|');
    console.log(array1.toString());
    var ctx = document.getElementById('pie_chart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: labels,
            datasets: [{
                label: 'Cheques por CC',
                data: dados,
                backgroundColor: array1,
                borderColor: array2,
                borderWidth: 1
            }]
        }
    });
    $(document).ready(function() {
        var mensagem = "@(ViewBag.Mensagem != null? ViewBag.Mensagem: "|")";
        window.exibeMensagem(mensagem);
    });
    function exibirLista(idConta, status) {
        window.location.href = "../../consulta/chequeslista/?idConta=" + idConta + "&status=" + status;
    }
</script>