﻿
@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/_MasterView.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 align-center" >
                        <h2>
                            CONSULTA CHEQUE
                            <small>Consulta status e informações de um cheque e seus relacionamentos</small>
                        </h2>
                            
                    </div>
                            

                    <div class="btn-toolbar col-lg-9 col-md-12 col-sm-12 col-xs-12 "  role="toolbar" aria-label="Toolbar with button groups">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <a onclick="limpa('cmc7')"><i class="material-icons ">cancel</i></a>
                            </span>
                            <div class="form-line">
                                <input id="cmc7" name="cmc7" type="text" class="form-control" placeholder="Digite o código CMC7" autofocus>
                            </div>
                            <span class="input-group-addon">
                                <a onclick="consultaCheque('cmc7')"><i class="material-icons ">search</i></a>
                                
                            </span>
                        </div>
                    </div>
                    
                </div>
                <div id="divConsultaCheque" class="body" style="display: none">
                    @{ Html.RenderPartial("ConsultaCheque"); }
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    function consultaCheque(el)
    {
        var cmc7 = document.getElementById("cmc7").value;
        $.ajax({
            url: '/consulta/consultacheque/?cmc7=' + cmc7,
            type: 'get',
            data: null,
            success: function (data) {
                $('#divConsultaCheque').html(data);
                document.getElementById("divConsultaCheque").style.display = 'block';
                
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                
            }
        });
    }
    function limpa(el) {
        var doc = document.getElementById(el);
        doc.value = "";
        document.getElementById("divConsultaCheque").style.display = 'none';
        doc.focus();
        
    }
    
    
    
</script>

