﻿@model Scheque.Entidade.Usuario

@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_MasterView.cshtml";
    string _mensagem = ViewBag.Mensagem != null ? ViewBag.Mensagem : "|";
    string _aba = _mensagem.Split('-')[0].Equals("501")? "1" : "0";

}
<link href="../../plugins/sweetalert/sweetalert.css" rel="stylesheet" />


<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-3">
                <div class="card profile-card">
                    <div class="profile-header bg-blue">&nbsp;</div>
                    <div class="profile-body" >
                        <div class="image-area">
                            <img src="http://www.r3infoservices.com/RohanEnterprises/images/humen.jpg" alt="AdminBSB - Profile Image" width="110" height="110" />
                        </div>
                        <div class="content-area">
                            <h3>@Model.Nome</h3>
                            <p>@Model.Login</p>
                            <p>@(Model.Ativo ? "Ativo" : "Inativo")</p>    
                        </div>
                    </div>
                    <div class="profile-footer">
                        <b class="text-center"><p>Edite os dados ao lado</p></b>
                        <!--button class="btn btn-primary btn-lg waves-effect btn-block" onclick="javascript:window.location.href('#profile_settings');">Editar</button-->
                    </div>
                </div>
                <div class="col-xs-12 col-sm-9">
                </div>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="card">
                    <div class="body">
                        <div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#profile_settings" aria-controls="settings" role="tab" data-toggle="tab">Dados de cadastro</a></li>
                                <li role="presentation" ><a href="#change_password_settings" aria-controls="home" role="tab" data-toggle="tab">Alterar Senha</a></li>
                            </ul>

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in @(_aba.Equals("0")?"active":"")" id="profile_settings">
                                    @using (Html.BeginForm("SalvaPerfil", "Usuario", FormMethod.Post, new { @class = "form-horizontal" }))
                                    {
                                        <div class="form-group">
                                            <label for="Nome" class="col-sm-2 control-label">Nome </label>
                                            <div class="col-sm-10">
                                                <div class="form-line">
                                                    @Html.TextBoxFor(u => u.Nome, "", new {@class="form-control", id="Nome", name ="Nome", placeholder="Nome", required= true})
                                                    @Html.TextBoxFor(u => u.Id, new {style="display:none"})
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="Login" class="col-sm-2 control-label">Login </label>
                                            <div class="col-sm-10">
                                                <div class="form-line">
                                                    @Html.TextBoxFor(u => u.Login, "", new {@class="form-control", id="Login", name ="Login", placeholder="Login", required= true, onfocusout  = "validaLogin('Login','"+ Model.Id + "')" })
                                                    
                                               </div>
                                                <label id="valLogin" class="bg-red" style="display: none" ></label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                
                                                <div >
                                                    @Html.TextBox("ativo", Model.Ativo, new {style="display:none"})
                                                    <input type="checkbox" name="ativo1" id="ativo1" class="filled-in chk-col-pink" onchange="ativa()" checked="@Model.Ativo">
                                                    <label for="ativo1">Usuário ativo </label>
                                                </div>
                                                
                                                @Html.TextBox("TxtSenha",Model.Senha,new {style="display:none", type="password"} )
                                                
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" class="btn btn-danger">GRAVAR</button>
                                            </div>
                                        </div>
                                    }
                                    
                                </div>
                                <div role="tabpanel" class="tab-pane fade in @(_aba.Equals("1")?"active":"")" id="change_password_settings">
                                    @using (Html.BeginForm("AteraraSenha", "Usuario", FormMethod.Post, new { @class = "form-horizontal" }))
                                    {
                                        <div class="form-group">
                                            <label for="OldPassword" class="col-sm-3 control-label">Senha antiga</label>
                                            <div class="col-sm-9">
                                                <div class="form-line">
                                                    @Html.TextBox("txtId", Model.Id, new {style="display:none"})
                                                    @Html.TextBox("OldPassword", "", new {@class = "form-control", id = "OldPassword", name = "OldPassword", placeholder = "Senha antiga", required = true, type = "password"})
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="NewPassword" class="col-sm-3 control-label">Nova senha</label>
                                            <div class="col-sm-9">
                                                <div class="form-line">
                                                    @Html.TextBox("NewPassword", "", new { @class = "form-control", id = "NewPassword", name = "NewPassword", placeholder = "Senha nova", required = true, type="password" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="NewPasswordConfirm" class="col-sm-3 control-label">Confirma nova senha</label>
                                            <div class="col-sm-9">
                                                <div class="form-line">
                                                    @Html.TextBox("NewPasswordConfirm", "", new { @class = "form-control", id = "NewPasswordConfirm", name = "NewPasswordConfirm", placeholder = "Senha nova a confirmação", required = true,  type = "password" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-danger">ALTERAR</button>
                                            </div>
                                        </div>

                                    }
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" charset="utf-8">
    function validaLogin(el, id) {
        var login = document.getElementById(el).value;
        
        var t;
        var url = "/Usuario/ValidaLogin?Login=" + login + "&id=" + id;
        $.ajax({
            type: "GET",
            url: url,
            data: t,
            contentType: "application/json;",
            dataType: "json",
            success: function(t) {
                var label = document.getElementById("valLogin");

                if (t === true) {

                    label.style.display = "block";
                    label.innerText = "Login indisponível";
                   
                } else {

                    label.style.display = "none";
                    label.innerText = "";
                }
            },
            failure: function(t) {
                window.exibeMensagem("500-The Request was hit by an Error. Error Code: JEX-028\n\n" + t);
            }
        });
    }

    $(document).ready(function () {
        window.exibeMensagem("@_mensagem");

    });
</script>