﻿@using Scheque.Uteis
@model Scheque.Entidade.Calendario 
@{
    int ano, mes, dia;
    String[] data = ViewBag.Data != null ? ViewBag.Data.ToString().Split('|'): new string[] {"2000", "01", "01"};
    ano = int.Parse(data[0]);
    mes = int.Parse(data[1]);
    dia = int.Parse(data[2]);
    DateTime dataDia = new DateTime(ano,mes,dia);
}
@if (Model != null)
{
    <div class="header">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <table class="table table-bordered">
                    <tr>
                        <td class="@(Util.DiaDaSemanaEnum(dataDia) == DiaSemana.DOMINGO || !Model.NomeFeriado.Equals("") ? "bg-red" : Util.DiaDaSemanaEnum(dataDia) == DiaSemana.SABADO ? "bg-Orange" : "bg-info")">
                            <h1>@dia</h1>
                        </td>
                        <td>
                            <h2>
                                DATA : @dataDia.ToShortDateString()
                                <small >Informações para a data selecionada</small>
                            </h2>
                        </td>
                    </tr>
                </table>
                
            </div>
            @using (Html.BeginForm("SalvaFeriado", "Calendario", FormMethod.Post, new { @class = "form-control=vertical" }))
            {
            <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label">
                    <label for="Descricao">Descrição Feriado</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="form-group">
                        <div class="form-line">
                            @Html.TextBoxFor(u => u.NomeFeriado, new { @class = "form-control", placeholder = "Entre com a descrição do feriado", required = true })
                            @Html.TextBoxFor(u => u.Id, new {style="Display:none"})
                            @Html.TextBox("Feriado", dataDia, new {style = "display:none"})
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <button id="btSalvar" class="btn bg-amber waves-effect"><i class="material-icons">save</i> Save</button>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <a id="btExcluir" class="btn bg-amber waves-effect" onclick="voltar()"><i class="material-icons">undo</i> Voltar</a>
                </div>
                @if(Model.Id != null && Model.Id != 0){
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <a id="btExcluir" class="btn bg-red waves-effect" onclick="excluir('@(Model.Id)')" ><i class="material-icons">remove_circle</i> Excluir</a>
                    </div>
                }
            </div>
            }      
        </div>
    </div>
    <script type="text/javascript">
        function excluir(id) {
            window.location.replace("../../../Calendario/ExcluiFeriado/@(Model.Id)/@(mes)/@(ano)");
        }

        function voltar() {
            document.getElementById("divFeriado").style.display = "none";
            document.getElementById("divCalendario").style.display = "block";
        }
    </script>


   

}