﻿@using System.Web.Optimization
@using Scheque.Entidade

<!DOCTYPE html>
<html>
@{
    ViewBag.Title = "_MasterView";
    Usuario _user = Session["User"] != null ? Session["User"] as Usuario : new Usuario();
    int _idOp = ViewBag.IdOp != null ? int.Parse(ViewBag.IdOp.ToString()) : 0;
}
<head>
    <meta http-equiv="Content-Type" content="text/html" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta charset="utf-8" />
    <title>Sistema de Factory @ViewBag.Title</title>
    <!-- Favicon-->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/plugins")

    <script type="text/javascript" language="javascript">

        function deslogar() {
            window.location.replace("../../Cheque/Logout");
        }
        function ativa() {
            ativaEle("ativo", "ativo1");
        }
        function ativaEle(el1, el2) {
            var ele1 = document.getElementById(el1);
            var ele2 = document.getElementById(el2);
            ele1.value = ele2.checked;
        }
        function ajustaTitulo(titulo, icone) {
            var titulo = document.getElementById("tituloMaster");
            var icone = document.getElementById("iconeMaster");
            titulo.value = titulo;
            icone.value = icone;
        }
        function exibeMensagem(mensagem) {
            if (mensagem !== "|") {
                var arraymen = mensagem.split('-');
                var previousWindowKeyDown = window.onkeydown;
                swal(
                    arraymen[0],
                    arraymen[1],
                    (arraymen[0] === "100" ? "success" : "error"));
                window.onkeydown = previousWindowKeyDown;



            }
        }
    </script>
</head>
<body class="theme-blue">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Aguarde por favor...</p>
        </div>
    </div>
    <div class="overlay"></div>
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="DIGITE O TERMO PARA BUSCA." id="inpBusca">
        <div class="close-search" id="icoClose">
            <i class="material-icons">close</i>
        </div>
    </div>

    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a id="tituloMaster" class="navbar-brand font-27" href="../../Home/Index"><i id="iconeMaster" class="material-icons">account_balance</i> SCHEQUES </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">

                    <!-- Notifications -->
                    <li class="dropdown">
                        @if (_user.Id != 0)
                        {
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                <i class="material-icons">notifications</i>
                                <span class="label-count">X</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">NOTIFICAÇÕES</li>
                                <li class="body">
                                    <ul class="menu">
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="icon-circle bg-light-green">
                                                    <i class="material-icons">credit_card</i>
                                                </div>
                                                <div class="menu-info">
                                                    <h4>Ch's para deposito</h4>
                                                    <p>
                                                        <i class="material-icons">play_circle_filled</i> XX Ch's
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="javascript:void(0);">Exibir todas</a>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <a href="../../Home/Login" class="dropdown-toggle" data-toggle="tooltip" data-placement="bottom" title="Logar" role="button">

                                <i class="material-icons">account_circle</i>
                            </a>

                        }

                    </li>
                    <!-- #END# Notifications -->

                    <li class="pull-right"><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="material-icons">more_vert</i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section>
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->

            @if (_user.Id != 0)
            {
                <div class="user-info" style="background: url('../../images/fundo3.jpg') no-repeat, no-repeat; background-position: 70, 70;">
                    <div class="image">
                        <img src="http://www.r3infoservices.com/RohanEnterprises/images/humen.jpg" width="48" height="48" alt="User" />
                    </div>
                    <div class="info-container">
                        <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@_user.Nome</div>
                        <div class="email">@_user.Login</div>
                        <div class="btn-group user-helper-dropdown">
                            <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="../../Usuario/Perfil/@_user.Id"><i class="material-icons">person</i>Perfil</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a onclick="deslogar()"><i class="material-icons">input</i>Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                @if (_user.Id == 0)
                {
                    <ul class="list">
                        <li class="header">OPÇÕES</li>
                        <li class="@(_idOp==0?"active":"")">
                            <a href="../../Home/Index">
                                <i class="material-icons">home</i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="@(_idOp==1?"active":"")">
                            <a href="../../Home/Login">
                                <i class="material-icons">account_circle</i>
                                <span>Logar</span>
                            </a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="list">
                        <li class="header">OPÇÕES</li>
                        <li class="@(_idOp==0?"active":"")">
                            <a href="../../Home/index">
                                <i class="material-icons">home</i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="@(_idOp==1?"active":"")">
                            <a href="javascript:void(0);" class="menu-toggle">
                                <i class="material-icons">note_add</i>
                                <span>Cadastros</span>
                            </a>
                            <ul class="ml-menu">
                                <li>
                                    <a href="~/Cliente/Cliente">Cliente</a>
                                </li>
                                <li>
                                    <a href="~/Empresa/index">Empresa</a>
                                </li>
                                <li>
                                    <a href="~/Usuario/Usuario">Usuario</a>
                                </li>
                                <li>
                                    <a href="~/Banco/Banco">Banco</a>
                                </li>
                                <li>
                                    <a href="#">Conta</a>
                                </li>
                                <li>
                                    <a href="~/Calendario/Calendario">Calendario</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="menu-toggle">
                                <i class="material-icons">payment</i>
                                <span>Lotes</span>
                            </a>
                            <ul class="ml-menu">
                                <li>
                                    <a href="@Url.Content("../../Cheque/Lote")">Cheques</a>
                                </li>
                                <li>
                                    <a href="#">Duplicatas</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="menu-toggle">
                                <i class="material-icons">assignment</i>
                                <span>Caixa</span>
                            </a>
                            <ul class="ml-menu">
                                <li>
                                    <a href="#">Abertura</a>
                                </li>
                                <li>
                                    <a href="#">Fechamento</a>
                                </li>
                                <li>
                                    <a href="#">Relatório</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="menu-toggle">
                                <i class="material-icons">card_membership</i>
                                <span>Cheques</span>
                            </a>
                            <ul class="ml-menu">
                                <li>
                                    <a href="~/consulta/index">Consulta</a>
                                </li>
                                <li>
                                    <a href="#">Transações</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="menu-toggle">
                                <i class="material-icons">library_books</i>
                                <span>Relatórios</span>
                            </a>
                            <ul class="ml-menu">
                                <li>
                                    <a href="javascript:void(0);" class="menu-toggle"><span>Cheques</span></a>
                                    <ul class="ml-menu">
                                        <li>
                                            <a href="#">Para Deposito</a>
                                        </li>
                                        <li>
                                            <a href="#">A Vencer</a>
                                        </li>
                                        <li>
                                            <a href="#">Lista Negra</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="menu-toggle"><span>Promissórias</span></a>
                                    <ul class="ml-menu">
                                        <li>
                                            <a href="#">Vencidas</a>
                                        </li>
                                        <li>
                                            <a href="#">A Vencer</a>
                                        </li>
                                        <li>
                                            <a href="#">Do dia</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                    </ul>
                }
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2019 <a href="javascript:void(0);">SCheque Web - By SILSoftwares - Todos os direitos reservados</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.0
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <aside id="rightsidebar" class="right-sidebar">
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                <li role="presentation" class="active"><a href="#skins" data-toggle="tab">SKINS</a></li>
                <li role="presentation"><a href="#settings" data-toggle="tab">SETTINGS</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active in active" id="skins">
                    <ul class="demo-choose-skin">
                        <li data-theme="red" class="active">
                            <div class="red"></div>
                            <span>Red</span>
                        </li>
                        <li data-theme="pink">
                            <div class="pink"></div>
                            <span>Pink</span>
                        </li>
                        <li data-theme="purple">
                            <div class="purple"></div>
                            <span>Purple</span>
                        </li>
                        <li data-theme="deep-purple">
                            <div class="deep-purple"></div>
                            <span>Deep Purple</span>
                        </li>
                        <li data-theme="indigo">
                            <div class="indigo"></div>
                            <span>Indigo</span>
                        </li>
                        <li data-theme="blue">
                            <div class="blue"></div>
                            <span>Blue</span>
                        </li>
                        <li data-theme="light-blue">
                            <div class="light-blue"></div>
                            <span>Light Blue</span>
                        </li>
                        <li data-theme="cyan">
                            <div class="cyan"></div>
                            <span>Cyan</span>
                        </li>
                        <li data-theme="teal">
                            <div class="teal"></div>
                            <span>Teal</span>
                        </li>
                        <li data-theme="green">
                            <div class="green"></div>
                            <span>Green</span>
                        </li>
                        <li data-theme="light-green">
                            <div class="light-green"></div>
                            <span>Light Green</span>
                        </li>
                        <li data-theme="lime">
                            <div class="lime"></div>
                            <span>Lime</span>
                        </li>
                        <li data-theme="yellow">
                            <div class="yellow"></div>
                            <span>Yellow</span>
                        </li>
                        <li data-theme="amber">
                            <div class="amber"></div>
                            <span>Amber</span>
                        </li>
                        <li data-theme="orange">
                            <div class="orange"></div>
                            <span>Orange</span>
                        </li>
                        <li data-theme="deep-orange">
                            <div class="deep-orange"></div>
                            <span>Deep Orange</span>
                        </li>
                        <li data-theme="brown">
                            <div class="brown"></div>
                            <span>Brown</span>
                        </li>
                        <li data-theme="grey">
                            <div class="grey"></div>
                            <span>Grey</span>
                        </li>
                        <li data-theme="blue-grey">
                            <div class="blue-grey"></div>
                            <span>Blue Grey</span>
                        </li>
                        <li data-theme="black">
                            <div class="black"></div>
                            <span>Black</span>
                        </li>
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="settings">
                    <div class="demo-settings">
                        <p>GENERAL SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Report Panel Usage</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Email Redirect</span>
                                <div class="switch">
                                    <label><input type="checkbox"><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                        <p>SYSTEM SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Notifications</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Auto Updates</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                        <p>ACCOUNT SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Offline</span>
                                <div class="switch">
                                    <label><input type="checkbox"><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Location Permission</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
        <!-- #END# Right Sidebar -->
    </section>

    @RenderBody()




</body>

@Scripts.Render("~/bundles/endScript")
@Scripts.Render("~/bundles/dataTable")
@RenderSection("scripts", required: false)

</html>
<!-- Custom Js -->
