﻿@using Scheque.Entidade

@{
    ViewBag.Title = "Index";
    Usuario _user = Session["User"] != null ? Session["User"] as Usuario:new Usuario();
}

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h2>
                    SCHEQUES
                    <small>Sistema para empresa de Factory que efetua antecipação de recebiveis e emprestimos</small>
                </h2>
        
            </div>
            <div class="body">
                <p>O SCHEQUES - É ums sistema desenvolvido pela empresa SILSoftwares, para empresas de Factory.</p>
                <p>O sistema oferece controle total sobre os valore antecipado, em nuvens com total segurança e facilidade.</p>
                @if (_user.Id == 0)
                {
                    <p>Para o acesso ao sistema, será necessário clicar em <a href="../../Home/Login">Logar</a> no menu ao lado ou no icone <a href="../../Home/Login"><i class="material-icons">account_circle</i></a> na parte superior.</p>
                }
                else
                {
                    <p>Seja bem vindo @_user.Nome , selecione uma das opções ao lado para iniciar os trabalhos.</p>
                }   
            </div>
        </div>    
    </div>
</section>
