﻿@model WebCheques.Models.LoginModelView
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MasterView.cshtml";
    string _mensagem = ViewBag.Mensagem;
}
<!-- Sweetalert Css -->
<link href="../../plugins/sweetalert/sweetalert.css" rel="stylesheet" />


<section class="content">
    <div class="container-fluid">
        <div class="login-page">

            <div class="login-box">
                <div class="logo">
                    <a href="javascript:void(0);">Sessão <b>SCheques</b></a>
                    <small>Clique em registrar se for o primeiro acesso.</small>
                </div>
                <div class="card">
                    <div class="body">
                        @using (Html.BeginForm("Logar", "Home", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new {@class="text-danger"})
                            @Html.HiddenFor(u => u.UrlRetorno)
                            <div class="msg">Clique Logar para iniciar a sessão.</div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">person</i>
                                </span>
                                <div class="form-line">
                                    @Html.TextBoxFor(u => u.Login, new { @class = "form-control", placeholder = "Nome do usuário", required = true, autofocus = true, type = "text" })
                                    
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">lock</i>
                                </span>
                                <div class="form-line">
                                    @Html.TextBoxFor(u => u.Senha, new { @class = "form-control", placeholder = "Senha", required = true, type = "password" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-8 p-t-5">
                                    @Html.TextBox("ativo", false ,new {style="display:none"})
                                    <input type ="checkbox" class="filled-in chk-col-pink" id ="rememberme" name="rememberme" onchange="ativaEle('rememberme', 'ativo')" />
                                    <label for="rememberme">Permanecer logado</label>
                                </div>
                                <div class="col-xs-4">
                                    <button class="btn btn-block bg-pink waves-effect" type="submit">LOGAR</button>
                                </div>
                            </div>
                            <div class="row m-t-15 m-b--20">
                                <div class="col-xs-6">
                                    <a href="#">Novo Registro</a>
                                </div>
                                <div class="col-xs-6 align-right">
                                    <a href="#">Esqueceu a senha?</a>
                                </div>
                            
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Demo Js -->
<script src="../../js/demo.js"></script>
<script type="text/javascript" charset="utf-8">

    $(document).ready(function () {
        var mensagem = "@_mensagem";
        
        if (mensagem !== "|") {
            swal(mensagem, "Verifique seus dados e tente novamente.", "error");
        }
        
    });
</script>