﻿
@using System.Web.Optimization
@using Scheque.Entidade

@model Lote
@using (Ajax.BeginForm("SubimitLote", "Cheque", new AjaxOptions
{
    //UpdateTargetId = "divDadosCheque",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST"

}, new { id = "formDadosLote" }))
{
    <div class="row clearfix">
        <div class="col-sm-1 form-control-label">
            <label for="Cliente">Cliente:</label>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <div class="form-line">
                    @Html.TextBoxFor(u => u.Id, new { style = "display:none" })
                    @Html.DropDownListFor(u => u.IdCliente,
                        ViewBag.Clientes != null ? (SelectList)ViewBag.Clientes : new SelectList(new List<String>() { "SEM REGISTROS" }), "SELECIONE UM CLIENTE",
                        new { @class = "form-control show-tick selectCountry", required = true, id = "IdCliente", nome = "DropClientes" })
                    
                </div>
            </div>

        </div>

        <div class="col-sm-1 form-control-label">
            <label for="DtLote">Data:</label>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <div class="form-line">
                    @Html.TextBox("DataLote", Model.DataLote.Year == 1 ? DateTime.Now.ToShortDateString() : Model.DataLote.ToShortDateString(), new { @class = "form-control dataMask", required = true, onfocus = "dadosCliente()" })
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-sm-1 form-control-label">
            <label for="QtLote">Quantidade:</label>
        </div>
        <div class="col-sm-1">
            <div class="form-group">
                <div class="form-line">
                    @Html.TextBoxFor(u => u.Quantidade, new { @class = "form-control ", type = "number", id = "Quantidade", required = true })
                </div>
            </div>
        </div>
        <div class="col-sm-1 form-control-label">
            <label for="TxJuros">Juros:</label>
        </div>
        <div class="col-sm-1">
            <div class="form-group">
                <div class="form-line">
                    @Html.TextBox("Taxa", Model.Taxa.ToString("N2"), new { @class = "form-control dinheiro", id = "Taxa", required = true })
                </div>
            </div>
        </div>
        <div class="col-sm-2 form-control-label">
            <label for="TxAdm">Tx Administrativa:</label>
        </div>
        <div class="col-sm-1">
            <div class="form-group">
                <div class="form-line">
                    @Html.TextBox("Administrativa", Model.Administrativa.ToString("N2"), new { @class = "form-control dinheiro", id = "Administrativa", required = true })
                </div>
            </div>
        </div>
        <div class="col-sm-1 form-control-label">
            <label for="Total">R$:</label>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <div class="form-line">
                    @Html.TextBox("ValorLote", Model.ValorLote.ToString("N2"), new { @class = "form-control dinheiro", id = "ValorLote", required = true })
                </div>
            </div>
        </div>
        <div class="col-sm-1">
            <button id="btSalvarLote" class="btn amber" style="display:none"><i class="material-icons">save</i></button>
            <a class="btn amber" id="btnSalvar" onclick="submitLote()"><i class="material-icons">save</i></a>
        </div>
    </div>

}


<script type="text/javascript">

        $(document).ready(function () {
        $('#IdCliente').attr('data-live-search', true);
        $('#DropCliente').attr('data-live-search', true);
        $('.selectCountry').selectpicker(
            {
                width: '100%',
                style: 'btn-default',
                size: 6
            });
        $('.dataMask').mask('00/00/0000');
        $('.dinheiro').mask('000.000.000.000.000,00', { reverse: true });
        
        $('input').keypress(function (e) {
            var code = null;
            code = (e.keyCode ? e.keyCode : e.which);                
            return (code == 13) ? false : true;
        });
    });
</script>