﻿@using System.Web.Optimization
@using Scheque.Entidade
@model Scheque.Entidade.Lote
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lote</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    @Scripts.Render("~/bundles/plugins")    
    @Styles.Render("~/Content/css")
    
    
</head>
<body>
<div id="HTMLtoPDF">
    <section>
        <article>
                    <div class="card">
                        <div class="header" style="background-color: #CAEBF2">
                            <div class="row">
                                
                                <div class="col-sm-3 col-lg-2 font-22 align-center">
                                    <i id="iconeMaster" class="material-icons font-22">account_balance</i>
                                    SCHEQUES
                                    <p class="font-11">Aplicativo desenvolvido por:<br /><a href="http://www.silsoftwares.com"><b>© SIL Softwares 2018 - @DateTime.Now.Year </b> </a> <br />Contato 083 9 9107 6105</p>
                                </div>
                                <div class="col-sm-4 col-lg-4 ">
                                    <b>CLIENTE: @Model.NomeCliente.ToUpper()</b><br />
                                    <b>Nº LOTE: @Model.Id </b><br />
                                    <b>QUANT. CHEQUES: @Model.Quantidade </b><br />
                                    <b>TOTAL LOTE: @Model.ValorLote.ToString("C")</b><br />
                                    <b>DATA LOTE: @Model.DataLote.ToShortDateString()</b><br />
                                </div>
                                <div class="col-sm-4 col-lg-4">
                                    <b>TAXA JUROS: @((Model.Taxa / 100).ToString("P")) a.m. TAXA ADM.: @Model.Administrativa.ToString("C")</b><br />
                                    <b>APLICAR PRAZO MINIMO: @(Model.Cliente != null ? (Model.Cliente.DiasMinimo > 0 ? "SIM " + Model.Cliente.DiasMinimo + " DIAS" : "NÃO") : "")</b><br />
                                    <b>JUROS: @(Model.TotalJuros.ToString("C"))</b><br />
                                    <b>VALOR COM DEDUÇÃO: @Model.ValorDescontado.ToString("C")</b><br />
                                </div>
                                
                            </div>
                            <ul class="header-dropdown m-r--5">
                                <li>
                                    <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="pulse" data-loading-color="amber">
                                        <i class="material-icons">loop</i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="pulse" data-loading-color="amber" onclick="print()">
                                        <i class="material-icons">print</i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="pulse" data-loading-color="amber" onclick="HTMLtoPDF()">
                                        <i class="material-icons">collections_bookmark</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <table >
                                <thead>
                                    <tr class="font-12" style="background-color: #caebf2">

                                        <th style="width: 50px">BANCO</th>
                                        <th style="width: 40px">AG.</th>
                                        <th style="width: 50px">CONTA</th>
                                        <th style="width: 50px">Nº CH</th>
                                        <th style="width: 350px">EMITENTE</th>
                                        <th style="width: 100px">VENCIMENTO </th>
                                        <th style="width: 40px">DIA</th>
                                        <th style="width: 80px">Nº DIAS*</th>
                                        <th style="width: 100px" class="align-center">VALOR</th>
                                        <th style="width: 100px" class="align-center">JUROS</th>
                                        <th style="width: 100px" class="align-center">VALOR DESC.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                        foreach (Cheque cheque in Model.Cheques.OrderBy(c => c.Id).ToList())
                                        {
                                            
                                            <tr class="font-12" style="background-color: @(i++%2==0?"write":"gainsboro");  " >
                                                <td style="border-style: solid; border-color: black; border-width: 1px" class="align-center">@cheque.Banco</td>
                                                <td style="border-style: solid; border-color: black; border-width: 1px" class="align-center">@cheque.Agencia</td>
                                                <td style="border-style: solid; border-color: black; border-width: 1px" class="align-center">@cheque.ContaCheque.ContaCorrente</td>
                                                <td style="border-style: solid; border-color: black; border-width: 1px" class="align-center">@cheque.NumeroCheque</td>
                                                <td style="border-style: solid; border-color: black; border-width: 1px"> @(cheque.ContaCheque.Proprietario != null?( cheque.Emitente.Length > 40 ? " " + cheque.Emitente.Substring(0, 40) : " " + cheque.Emitente) : "Conta sem emitente cadastrado")</td>
                                                <td style="border-style: solid; border-color: black; border-width: 1px" class="align-center">@cheque.Vencimento.ToShortDateString()</td>
                                                <td style="border-style: solid; border-color: black; border-width: 1px" class="align-center">@cheque.DiaDaSemana.Substring(0, 3).ToUpper()</td>
                                                <td style="border-style: solid; border-color: black; border-width: 1px" class="align-center">@(cheque.Dias - cheque.DiasAdicionais) @(cheque.DiasAdicionais < 0 ? "" : "+" + cheque.DiasAdicionais + "=" + cheque.Dias)</td>
                                                <td style="border-style: solid; border-color: black; border-width: 1px" class="align-right">@cheque.Valor.ToString("C")</td>
                                                <td style="border-style: solid; border-color: black; border-width: 1px" class="align-right">@cheque.JurosCheque.ToString("C")</td>
                                                <td style="border-style: solid; border-color: black; border-width: 1px" class="align-right">@cheque.ValorDescontado.ToString("C")</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <div><p>* Caso o vencimento do cheque seja um dia não útil, será acrescido ao calculo o número de dias até a próxima data útil bancário.</p></div>
                        </div>
                    </div>
        </article>
    </section>
    
</div>
@Scripts.Render("~/bundles/endScript")

<script src="../../scripts/jspdf.js" type="text/javascript"></script>
<script src="../../scripts/pdfFromHTML.js" type="text/javascript"></script>
</body>
</html>
