﻿@using System.Collections.Specialized
@using System.Web.Optimization
@using Scheque.Entidade
@using Newtonsoft.Json.Linq
@{
    List<Cheque> _cheques = ViewData["Cheques"] != null ? ViewData["Cheques"] as List<Cheque> : new List<Cheque>();
    Cheque _cheque = ViewBag.Cheque != null ? (Cheque)ViewBag.Cheque : new Cheque();
    JObject _dadosLote = ViewBag.DadosLote != null ? (JObject)ViewBag.DadosLote : null;
}
<script type="text/javascript" src="~/scripts/Util.js"></script>
<section>
    <div id="divDadosCheque1" class="row">
        <div class="col-md-8">
            <div class="row clearfix">
                <div class="col-sm-1 form-control-label">
                    <label for="txtCMC7">CMC7:</label>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" id="CMC7" autofocus class="form-control" placeholder="Use a leitora ou digite o codigo CMC7 do cheque" onblur="coletaDadosCMC('CMC7')"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-1 form-control-label">
                    <label for="Banco">Banco:</label>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <div class="form-line">
                            @Html.DropDownList("DropBanco",
                                ViewBag.Bancos != null ? (List<SelectListItem>) ViewBag.Bancos : new List<SelectListItem>()
                                {
                                    new SelectListItem() {Text = "-SELECIONE O BANCO-", Value = "0"}
                                }, "SELECIONE UM BANCO",
                                new {@class = "form-control show-tick selectCountry", id = "DropBanco", required = "true"})
                            @Html.TextBox("IdCheque", _cheque.Id, new {style = "display:none"})
                            <label class="text-danger" style="display: none" id="valBanco"> Erro1</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-1 form-control-label">
                    <label for="txtAg">Agência:</label>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <div class="form-line">
                            @Html.TextBox("Agencia", _cheque.ContaCheque != null ? _cheque.ContaCheque.Agencia : "",
                                new
                                {
                                    type = "text",
                                    id = "Agencia",
                                    @class = "form-control agencia",
                                    placeholder = " Agência",
                                    required = "true",
                                    onblur = "ajustaCampo('Agencia', 4)"
                                })
                            <label class="text-danger" style="display: none" id="valAgencia"> Erro1</label>

                        </div>
                    </div>
                </div>
                <div class="col-sm-1 form-control-label">
                    <label for="txtOp">Op:</label>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <div class="form-line">
                            @Html.TextBox("operacao", _cheque.ContaCheque != null ? _cheque.ContaCheque.Operacao : "",
                                new {type = "text", id = "Operacao", @class = "form-control operacao", placeholder = "Operação", required = "true", onblur = "ajustaCampo('operacao', 3)"})
                            <label class="text-danger" style="display: none" id="valOperacao"> Erro1</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 form-control-label">
                    <label for="txtCC">C/C:</label>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <div class="form-line">
                            @Html.TextBox("Conta", _cheque.ContaCheque != null ? _cheque.ContaCheque.ContaCorrente : "", new {type = "text", id = "Conta", @class = "form-control conta", placeholder = "Conta", required = "true", onblur = "ajustaCampo('Conta', 6)"})
                            <label class="text-danger" style="display: none" id="valConta"> Erro1</label>
                            @Html.TextBox("IdConta", _cheque.ContaCheque != null ? _cheque.IdConta:0, new {style = "display:none"})
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 form-control-label">
                    <label for="txtCh">Cheque:</label>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <div class="form-line">
                            @Html.TextBox("Numero", _cheque.ContaCheque != null ? _cheque.NumeroCheque : "",
                                new {type = "text", id = "Numero", @class = "form-control cheque", placeholder = "Nº Cheque", onblur = "lerDadosCheque()", required = "true"})
                            <label class="text-danger" style="display: none" id="valNumero"> Erro1</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-1 form-control-label">
                    <label for="txtValor">Valor:</label>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="form-line">
                            @Html.TextBox("Valor", _cheque.Valor.ToString("N2"), new {type = "text", id = "Valor", @class = "form-control dinheiro", placeholder = "Valor", required = "true"})
                            <label class="text-danger" style="display: none" id="valValor"> Erro1</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 form-control-label">
                    <label for="txtVenc">Vencimento:</label>
                </div>
                <div class="col-sm-3">
                    <dsiv class="form-group">
                        <div class="form-line">
                            @Html.TextBox("Vencimento", _cheque.Vencimento.Year > 1 ? _cheque.Vencimento.ToShortDateString() : "",
                                new {type = "text", id = "Vencimento", @class = "form-control dataMask", placeholder = "", onblur = "calculaJuros()", required = "true"})
                            <label class="text-danger" style="display: none" id="valVencimento"></label>
                        </div>
                    </dsiv>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-2 form-control-label">
                    <label for="txtCpfEmissor">Documento:</label>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="form-line">
                            @Html.TextBox("CPFCNPJ", _cheque.ContaCheque != null && _cheque.ContaCheque.Proprietario != null ? _cheque.ContaCheque.Proprietario.CpfCNPJ : "", new {type = "text", id = "CPFCNPJ", @class = "form-control CPFCNPJ", placeholder = "CPF ou CNPJ", required = "true", onfocusout = "buscaEmitente()"})
                            <label class="text-danger" style="display: none" id="labCNPJ"></label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 form-control-label">
                    <label for="txtEmissor">Emissor: </label>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <div class="form-line">
                            @Html.TextBox("Emitente", _cheque.ContaCheque != null && _cheque.ContaCheque.Proprietario != null ? _cheque.ContaCheque.Proprietario.Nome.ToUpper() : "", new {type = "text", id = "Emitente", @class = "form-control ", placeholder = " Nome do emissor", required = "true"})
                            <label class="text-danger" style="display: none" id="valEmitente"> Erro1</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <a class="btn bg-amber" onclick="addCheque()"><i class="material-icons">add</i></a>
                    <a class="btn bg-amber" onclick="limpaDados()"><i class="material-icons">clear</i></a>
                    <a class="btn bg-amber" onclick="exibeListaCheques()"><i class="material-icons">view_list</i></a>
                    <a class="btn bg-amber  waves-effect" onclick="home()" href="#home" data-toggle="tab"><i class="material-icons">navigate_before</i> Retornar</a>
                    <a id="btFinalCheque" class="btn bg-amber  waves-effect" onclick="final()" href="#messages" data-toggle="tab">Próximo <i class="material-icons">navigate_next</i></a>
                </div>
                <br/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-lg-12  col-sm-12 col-xs-12">
                    <div class="info-box-4 hover-zoom-effect">
                        <div class="icon">
                            <i class="material-icons col-blue">library_books</i>
                        </div>
                        <div div="divProgressBar" class="content">
                            <div class="text">
                                <div class="progress">
                                    <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: @(_dadosLote != null ? _dadosLote["Percentual"] : "0")%;">
                                        @(_dadosLote != null ? _dadosLote["Percentual"] : "0")%
                                    </div>
                                </div>
                                <h6>Total Lote : @(_dadosLote != null ? _dadosLote["Total"] : "R$ 0,00")</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12  col-sm-12 col-xs-12">
                    <div id="divJuros" style="display: none" class="info-box-4 hover-zoom-effect">
                        <div class="icon">
                            <i class="material-icons col-blue">card_membership</i>
                        </div>
                        <div class="content">
                            <div class="text">
                                <h6 id="hDias">Dias : 0</h6>
                                <h6 id="hJuros">Juros : R$ 0,00</h6>
                                <h6 id="hDesconto">Descontado : R$ 0,00</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12  col-sm-12 col-xs-12">
                    <div id="divInconsistencia" style="display: none" class="info-box-4 hover-zoom-effect">
                        <div class="icon">
                            <i class="material-icons col-red">info</i>
                        </div>
                        <div class="content">
                            <div class="text">
                                <h6>Cheque com restrições</h6>
                                <h6 id="chNegativo1"></h6>
                                <h6 id="chNegativo2"></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="divListaCheques1" class="col-sm-12 col-lg-12 card " style="display: none">
    <div class="header">
        <div class="row">
            <div class="col-lg-12 col-md-3 col-sm-12 col-xs-12">
                <h2>
                    <a class="btn bg-amber" onclick="retornaDados()"><i class="material-icons">arrow_back</i></a> CHEQUES DO LOTE
                </h2>
                <div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table>
                        <thead>
                        <tr class="font-12" style="background-color: #caebf2">
                            <th style="width: 50px">EDITA</th>
                            <th style="width: 30px">#</th>
                            <th style="width: 50px">BANCO</th>
                            <th style="width: 40px">AG.</th>
                            <th style="width: 50px">CONTA</th>
                            <th style="width: 50px">Nº CH</th>
                            <th style="width: 100px">VENCIMENTO </th>
                            <th style="width: 100px" class="align-center">VALOR</th>
                        </tr>
                        </thead>
                        <tbody>
                        @{
                            int i = 0;
                            if (_cheques != null && _cheques.Count > 0)
                            {
                                foreach (Cheque cheque in _cheques.OrderBy(c => c.Id).ToList())
                                {

                                    <tr class="font-12" style="background-color: @(i++ % 2 == 0 ? "write" : "gainsboro");">
                                        <td><a onclick="editaCheque('@(i - 1)')"><i class="material-icons">edit</i></a></td>
                                        <td class="align-center">@(i)</td>
                                        <td class="align-center">@cheque.Banco</td>
                                        <td class="align-center">@cheque.Agencia</td>
                                        <td class="align-center">@cheque.ContaCheque.ContaCorrente</td>
                                        <td class="align-center">@cheque.NumeroCheque</td>
                                        <td class="align-center">@cheque.Vencimento.ToShortDateString()</td>
                                        <td class="align-right">@cheque.Valor.ToString("C")</td>
                                    </tr>
                                }
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

    <div id="divEspera" class="loader align-center" hidden >
        <div class="preloader pl-size-sm ">
            <div class="spinner-layer pl-purple">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

        </div>
        <p>Coletando dados...</p>
    </div>


</section>


<script type="text/javascript">

    function ajustaCampo(el, digitos) {

        var zeros = "";
        for (var i = 0; i < digitos; i++) {
            zeros += "0";
        }
        zeros += document.getElementById(el).value;
        var novaString = Right(zeros, digitos);
        document.getElementById(el).value = novaString;


    }

    function Right(str, n) {
        if (n <= 0)
            return "";
        else if (n > String(str).length)
            return str;
        else {
            var iLen = String(str).length;
            return String(str).substring(iLen, iLen - n);
        }
    }

    function coletaDadosCMC(el) {
        var cmc = document.getElementById(el).value;
        if (cmc !== "") {
            var url = "/cheque/lerCMC?cmc=" + cmc;
            $.getJSON(url, function (dados) {
                var data = dados[0];
                if (data.COD >= 500) {
                    window.exibeMensagem(data.COD + "|" + data.MENSAGEM);
                    return;
                }
                defineCombo(data.Banco);
                document.getElementById("Agencia").value = data.Agencia;
                document.getElementById("Operacao").value = data.Operacao;
                document.getElementById("Conta").value = data.Conta;
                document.getElementById("IdConta").value = data.IdConta;
                document.getElementById("Numero").value = data.Cheque;
                document.getElementById("Emitente").value = data.NomeEmitente.toUpperCase();
                document.getElementById("CPFCNPJ").value = data.Doc;
                if (data.NegativoConta !== 0 || data.NegativoEmitente !== 0) {
                    document.getElementById("divInconsistencia").style.display = 'block';
                    document.getElementById("chNegativo1").value = "Problemas cc:" + data.NegativoConta;
                    document.getElementById("chNegativo2").value = "Problemas Emitente:" + data.NegativoEmitente;
                } else {
                    document.getElementById("divInconsistencia").style.display = 'none';
                }
                document.getElementById("Valor").value = "";
                document.getElementById("Valor").focus();

            });
        }

    }

    function buscaEmitente() {
        var cpfcnpj = document.getElementById("CPFCNPJ").value;
        if (cpfcnpj !== "") {
            validaCPFCNPJ('CPFCNPJ', 'labCNPJ');
            var cpfcnpj = document.getElementById("CPFCNPJ").value;
            var url = "/cheque/BuscaEmitente?cnpj=" + cpfcnpj;
            $.getJSON(url, function (dados) {
                document.getElementById("Emitente").value = dados.toUpperCase();
            });
        }
    }
    
    function lerDadosCheque() {
        ajustaCampo('Numero', 6);
        var banco = document.getElementById("DropBanco");
        var agencia = document.getElementById("Agencia");
        var operacao = document.getElementById("Operacao");
        var conta = document.getElementById("Conta");
        var numero = document.getElementById("Numero");
       if (banco.value !== "" && agencia.value !== "" && operacao.value !== "" && conta.value !== "" && numero.value !== "") {
            var url = "/Cheque/LerDadosCheque/?banco=" + banco.value + "&agencia=" + agencia.value +
               "&conta=" + conta.value + "&cheque=" + numero.value + "&operacao=" + operacao.value;

           $.getJSON(url, function (dados)
           {
               var data = dados[0];
               if (data.COD >= 500) {
                    window.exibeMensagem(data.COD + "|" + data.MENSAGEM);
                    return;
               }
               document.getElementById("Emitente").value = data.NomeEmitente.toUpperCase();
               document.getElementById("CPFCNPJ").value = data.Doc;

               if (data.NegativoConta !== 0 || data.NegativoEmitente !== 0) {
                   document.getElementById("divInconsistencia").style.display = 'block';
                   document.getElementById("chNegativo1").innerHTML = "Problemas cc:" + (data.NegativoConta + data.NegativoEmitente);
               } else {
                    document.getElementById("divInconsistencia").style.display = 'none';
               }
            
        });
        }
    }

    function calculaJuros() {
        var data = document.getElementById("Vencimento");
        var label = document.getElementById("valVencimento");
        if (!validaData(data.value)) {
            label.innerText = "Data inválida.";
            label.style.display = "block";
        } else {
            label.innerText = "";
            label.style.display = "none";
            var dtLote = "@(_dadosLote != null?_dadosLote["Data"].ToString(): "0")";
            var dtVencimento = document.getElementById("Vencimento").value;
            var taxa = "@(_dadosLote != null? _dadosLote["Taxa"].ToString(): "0")";
            var minimo = "@(_dadosLote != null? _dadosLote["Dias"].ToString(): "0")";
            var composto = "@(_dadosLote != null? _dadosLote["Acumulado"].ToString(): "0")";
            var valor = document.getElementById("Valor").value;

            var url = "/Cheque/CalculaJuros/?dtLote=" + dtLote + "&dtVencimento=" + dtVencimento + "&taxa=" + taxa + "&valor=" + valor + "&minimo=" + minimo + "&composto=" + composto ;
            $.getJSON(url, function (dados) {
                var data = dados[0];
                    document.getElementById("divJuros").style.display = 'block';
                    document.getElementById("hJuros").innerText = "Juros: " + data.VJuros;
                    document.getElementById("hDias").innerText = "Nº Dias: " + data.Dias;
                 document.getElementById("hDesconto").innerText = "Valor: " + data.VPago;
            });
        }
    }

    function defineCombo(codBanco, reload) {
        $('#DropBanco').selectpicker('val', codBanco);
        $('#DropBanco').selectpicker('refresh');
    }

    function validaCheque() {
        var resporta = true;
        var mensagem = "500-";
        var conta = document.getElementById("Conta").value;
        var agencia = document.getElementById("Agencia").value;
        var numero = document.getElementById("Numero").value;

        var concluido = "@(_dadosLote  != null ? _dadosLote["Concluido"].ToString(): "false" )";
        if (concluido.toLocaleLowerCase() === "true") {
            mensagem += "Lote já contém a quantidade total de documentos. ";
            resporta = false;
        }
        
        if (document.getElementById("Valor").value ==="" || parseInt(document.getElementById("Valor").value) === 0) {
            mensagem += "Valor do cheque deve ser maior que zero. ";
            resporta = false;
        }

        if (document.getElementById("CPFCNPJ").value === "" || validaCPFCNPJ('CPFCNPJ', 'labCNPJ')) {
            mensagem += "CPF ou CNPJ inválidos. ";
            resporta = false;
        }

        if (!validaData(document.getElementById("Vencimento").value))
        {
            mensagem += "Data de vencimento invalida. ";
            resporta = false;
        }

        if (conta === "000000") {
            mensagem += "Conta inválida. ";
            resporta = false;
        }
        if (agencia === "0000") {
            mensagem += "Agencia inválida. ";
            resporta = false;
        }
        if (numero === "000000") {
            mensagem += "Número do cheque inválido. ";
            resporta = false;
        }
        
        if (resporta === false) {
            
            exibeMensagem(mensagem);
        }
        
        return resporta;
    }

    function exibeListaCheques() {
        $('#divListaCheques1').show();
        $('#divDadosCheque1').hide();
    }

    function retornaDados() {
        $('#divListaCheques1').hide();
        $('#divDadosCheque1').show();
    }

    $(document).ready(function ()
    {
        var concluido = "@(_dadosLote != null ? _dadosLote["Concluido"] : "False")";
        if (concluido === "True") {
            var cod = parseInt("@(_dadosLote != null && _dadosLote["Cod"] != null ? _dadosLote["Cod"] : "0")");
            var mensagem = "@(_dadosLote != null && _dadosLote["Mesagem"] != null ? _dadosLote["Mesagem"]: "")";

            if (cod === 500) {
                
                window.exibeMensagem(mensagem);
            } else {
                $('#divModalFinal').modal('show');
            }
        } 

        $('#IdCliente').attr('data-live-search', true);
        $('#DropCliente').attr('data-live-search', true);
        $('#DropBanco').attr('data-live-search', true);
        $('.selectCountry').selectpicker(
            {
                width: '100%',
                style: 'btn-default',
                size: 6
            });
        var cb = "@(_cheque.ContaCheque != null ?_cheque.ContaCheque.IdBanco:"0")";
        if (cb !== "0") {
            defineCombo(cb, false);
        }
        document.getElementById("CMC7").focus();
        
        
    });
    
</script>

