﻿@using System.Web.Optimization
@using Scheque.Entidade
@model Usuario

@if (Model != null)
{
    using (Html.BeginForm("SalvaUsuario", "Usuario", FormMethod.Post, new { @class = "form-control=vertical" }))
    {
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="Nome">Nome do cliente</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        @Html.TextBoxFor(u => u.Nome, new { @class = "form-control", placeholder = "Entre com o nome do usuário", required = true })
                        @Html.HiddenFor(u => u.Id)
                        @Html.HiddenFor( u=> u.IdEmpresa)
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="Login">Login</label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div class="form-group">
                    <div class="form-line">
                        @Html.TextBoxFor(u => u.Login, new { @class = "form-control", placeholder = "Entre com Login", required = true, onfocusout = "validaLogin('Login','" + Model.Id + "')" })
                    </div>
                </div>
                <label id="valLogin" class="text-danger" style="display: none"></label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="Tipo">Tipo de Usuário</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="form-group">
                    <div class="form-line">
                        @Html.DropDownListFor(u => u.Tipo, new List<SelectListItem>
                        {
                            new SelectListItem{ Value = ((int) TipoUsuario.ADMINISRADOR).ToString(), Text = TipoUsuario.ADMINISRADOR.ToString() },
                            new SelectListItem{ Value = ((int) TipoUsuario.SIMPLES).ToString(), Text = TipoUsuario.SIMPLES.ToString() }

                        }, new { @class = "form-control", required = true })
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="form-group">
                    <input type="checkbox" name="Ativo" id="Ativo" class="filled-in chk-col-pink" onchange="ativa(Acumulado1, Acumulado)" checked="@Model.Ativo">
                    <label for="Acumulado1">Usuário Ativo</label>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button id="btSalvar" class="btn bg-amber waves-effect"><i class="material-icons">save</i> Save</button>
            </div>
        </div>
    }
}


<script type="text/javascript">
    function validaLogin(el, id) {
        var login = document.getElementById(el).value;
        var t;
        var url = "/Usuario/ValidaLogin?Login=" + login + "&id=" + id;

        $.ajax({
            type: "GET",
            url: url,
            data: t,
            contentType: "application/json;",
            dataType: "json",
            success: function (t) {
                var label = document.getElementById("valLogin");
                if (t === true) {
                    label.style.display = "block";
                    label.innerText = "Login indisponível";
                } else {
                    label.style.display = "none";
                    label.innerText = "";
                }
            },
            failure: function (t) {
                window.exibeMensagem("500-The Request was hit by an Error. Error Code: JEX-028\n\n" + t);
            }
        });
    }
</script>

