﻿@using System.Web.Optimization
@using Scheque.Entidade
@model List<Scheque.Entidade.Usuario>
@{
    string _mensagem = ViewBag.Mensagem != null ? ViewBag.Mensagem : "|";
}

@Scripts.Render("~/Content/dataTable")

@{if (Model != null)
    {
        <div class="row clearfix">

            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>Ação</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @{
                                foreach (Usuario usuario in Model)
                                {
                                    <tr>
                                        <td>@usuario.Id</td>
                                        <td>@usuario.Nome</td>
                                        <td><button class="btn bg-orange" onclick="edita('@(usuario.Id)')"><i class="material-icons">mode_edit</i>Edita</button></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
}
