﻿@using Scheque.Entidade
@model List<Scheque.Entidade.Banco>
@{
    ViewBag.Title = "Banco";
    Layout = "~/Views/Shared/_MasterView.cshtml";
    string _id = ViewBag.Id != null ? ViewBag.Id : "-1";
    string _mensagme = ViewBag.Mensagem != null ? ViewBag.Mensagem : "|";
}

<!-- JQuery DataTable Css -->
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <h2>
                            CADASTRO DE BANCOS
                            <small>Cadastra os dados de Bancos conforme FEBRABAN</small>
                        </h2>
                    </div>
                    <div class="btn-toolbar col-lg-9 col-md-9 col-sm-9 col-xs-9" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group " role="group" aria-label="First group" align="right">
                            <button type="button" class="btn bg-amber waves-effect" onclick="novo()"><i class="material-icons">open_in_new</i> Novo</button>
                            <button id="btLista" name="btLista" type="button" class="btn bg-amber waves-effect" onclick="retornaLita()"><i class="material-icons">list</i> Lista</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="divListaBanco" class="body" style="display: none">
                @{if (Model != null)
                  {
                      <div class="row clearfix">

                          <div class="body">
                              <div class="table-responsive">
                                  <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                      <thead>
                                      <tr>
                                          <th>Id</th>
                                          <th>Nome</th>
                                          <th>Sigla</th>
                                          <th>Ação</th>
                                      </tr>
                                      </thead>
                                      <tfoot>
                                      <tr>
                                          <th>Id</th>
                                          <th>Nome</th>
                                          <th>Sigla</th>
                                          <th>Ação</th>
                                      </tr>
                                      </tfoot>
                                      <tbody>
                                      @{
                                          foreach (Banco banco in Model)
                                          {
                                              <tr>
                                                  <td>@banco.Id</td>
                                                  <td>@banco.Nome</td>
                                                  <td>@banco.Sigla</td>
                                                  <td><button class="btn bg-orange" onclick="edita('@(banco.Id)')"><i class="material-icons">mode_edit</i>Edita</button></td>
                                              </tr>
                                          }
                                      }
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                  }
                }

            </div>
            <div id="divdadosBanco" class="body" style="display: none">
                @{
                    Html.RenderPartial("DadosBanco", new Banco());
                }
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
   function atualiza(id)
   {
       var url = "../../Banco/DadosBanco/" + id;
       console.log(url);
        $.get(url,
            null,
            function(data) {
                $('#divdadosBanco').html(data);
            });
    }
    function exibeDados() {
        document.getElementById("divdadosBanco").style.display = "block";
        document.getElementById("divListaBanco").style.display = "none";
        console.log("Chamou exibeDados");
    }
    function exibeLista() {
        document.getElementById("divdadosBanco").style.display = "none";
        document.getElementById("divListaBanco").style.display = "block";
    }

   function ocuta() {
       document.getElementById("divdadosBanco").style.display = "none";
       document.getElementById("divListaBanco").style.display = "none";
   }
    function edita(id) {
        atualiza(id);
        exibeDados();
        
    }
    function retornaLita() {
        exibeLista();
        
    }
    function novo() {
        edita(0);
        console.log("chamou novo");
    }
</script>
@section scripts
{
    

    <script type="text/javascript">
        $(document).ready(function() {
            var id = @(_id);
            if (id === "-1" || id === -1) {
                ocuta();
            } else {
                console.log(id);
                edita(id);
            }
        });
    </script>
}





