﻿@model Scheque.Entidade.Banco
@if (Model != null)
{
    using (Html.BeginForm("SalvaBanco", "Banco", FormMethod.Post, new { @class = "form-control=vertical" }))
    {
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="Cod">Cod Compensação</label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div class="form-group">
                    <div class="form-line">
                        @Html.TextBoxFor(u => u.Id, new { @class = "form-control", placeholder = "Entre com cod. de compensação.", required = true })
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label">
                <label for="Nome">Nome do Banco</label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="form-group">
                    <div class="form-line">
                        @Html.TextBoxFor(u => u.Nome, new {@class = "form-control", placeholder = "Entre com o nome do banco", required = true})
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="Sigla">Sigla</label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div class="form-group">
                    <div class="form-line">
                        @Html.TextBoxFor(u => u.Sigla, new { @class = "form-control", placeholder = "Entre com a sigla", required = true})
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button id="btSalvar" class="btn bg-amber waves-effect"><i class="material-icons">save</i> Save</button>
            </div>
        </div>

        

    }

}

